.customNews {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .rowCard {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
      .columnCard {
        * {
          text-decoration: none;
        }
        .infoCard {
          display: flex;
          text-align: start;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          margin: 0;
          padding: 0;
          .slide-title {
            font-weight: normal;
            a {
              color: rgb(0, 0, 0);
              background: linear-gradient(
                to right,
                currentColor 0%,
                currentColor 100%
              );
              background-size: 0px 8%;
              background-repeat: no-repeat;
              background-position: left 100%;
              transition: all 0.5s ease;
              &:hover {
                color: rgb(0, 0, 0);
                background-size: 100% 8%;
              }
            }
          }
          .footer {
            display: flex;
            align-items: center;
            gap: 5px;
            a {
              color: rgb(89, 93, 105);
              background: linear-gradient(
                to right,
                currentColor 0%,
                currentColor 100%
              );
              background-size: 0px 6%;
              background-repeat: no-repeat;
              background-position: left 100%;
              transition: all 0.5s ease;
              &:hover {
                color: rgb(89, 93, 105);
                background-size: 100% 6%;
              }
            }
            .footer-item {
              margin-bottom: 0;
              color: rgb(89, 93, 105);
            }
            img {
              display: block;
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
