@import "reset";

.App {
  * {
    font-family: 'Rubik', sans-serif !important;
  }
}
.app {
  background: rgb(255, 255, 255);
}
.dark {
  background: rgb(0, 0, 0);
}
html,
body {
  position: relative;
  height: 100%;
}
